.sp {
    float: right;
}


.one{
    padding-top: 2%;
    padding-bottom: 2%;
}

.container{
    font-family: monospace;
}
.cangiua{
    background-color: #dddddd;
}
#leg{
    background-color: aquamarine;
}